<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Do not rewrite if file/directory exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirect all other requests to index.php front controller
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
